.fondo {
    background-color: rgb(13, 66, 150);
}

.miTexto {
    
    color: rgb(255, 255, 255);
}

.title{
    font-size: 40px;
    background-color: rgba(49, 132, 67, 0.716);
}

#principal{
    font-size: 50px;
}